/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.edit-mode {
	background-color: black;
	height: 36px;
	width: auto;
	color: #FFFFFF;
	gap: 5px;
}

.button-green {
	background-color: #1D6154;
}

.grey {
	background-color: #A7A7A7 !important;
}

.icon-edit {
	color: inherit;
	background-color: black;
	align-items: center;
}

.flex {
	display: flex;
}

.start {
	justify-content: flex-start;
}

.end {
	justify-content: flex-end;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.space {
	justify-content: space-between;
}

.center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.hidden {
	visibility: hidden;
}

.decoration-none {
	text-decoration: none;
	color: black;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 20px; */
	margin-bottom: 40px;
	gap: 10px;
}

.button-filtres { 
	margin-top: 1.5em;
	padding-left: 20px ;
	padding-right: 20px;
	height: 37px;
	background-color: white;
	border: solid 1px #1D6154;
	border-radius: 20px;
	font-family: syne;
	color: #1D6154;
	font-size: 16px;
}

.button-filtres:hover {
	background-color: #1D6154;
	color: white;
}

#portfolio h2 {
	display: flex;
	justify-content: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 36px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	font-size: 14px;
	height: 36px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* // login */

.login-page {
	height: 1024px;
}

form {
	flex-direction: column;
	align-items: center;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 192px;
	flex-direction: column;
}

.login a {
	color: black;
	font-weight: 500;
}

.login-title {
	color: #1D6154;
	font-size: 30px;
	height: 36px;
	font-weight: 700;	
	margin-bottom: 40px;
}

label {
	margin-bottom: 10px;
}

input {
	height: 51px;
	width: 379px;
	border: solid 0px;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
	margin-bottom: 20px;
}

.valid {
	border: solid 2px green;
}

.invalid {
	border: solid 2px red;
}

.errorMessage {
	display: flex;
	justify-content: center;
	color: grey;
}

/* Modal */

.lien-modale {
	margin-bottom: 30px;
	height: 36px;
	gap: 10px;
	margin-right: -30px;
	color: black;
}

.lien-modale a {
	color: inherit;
	text-decoration: none;
}

.invisible {
	display : none !important;
}

.lien-modale a:hover {
	color: #B1663C;
}

.modal {
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background : rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	background-color: #FFFFFF ;
	border-radius: 10px; 
	width: 630px;
	height: 688px;
}

.title-wrap {
	display: flex;
	justify-content: center;
	color: inherit;
	color: black;
	font-family: Work Sans;
	font-size: 30px;
	margin-top: 1.5em;
}

.works-wrap {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-left: 100px;
	margin-right: 100px;
	max-height: 400px;
	overflow: auto;
}

.works-wrap img {
	width: 78.12px;
	height: 104.08px;
}

.border-wrap {
	margin-top: 15px;
	width: 420px;
	border-top: 1px solid #B3B3B3 ;
}

.width-input-wrap {
	width: 237px !important;
}

.trash-wrap {
	position: relative;
	bottom: 100px;
	left: 55px;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	background-color: black;
	border: 0px;
}

.trash-icone::before {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	content: "\f2ed";
	color: #FFFFFF;
	font-family: 'Font Awesome 6 free';
}

.add-img {
	border-radius: 10px ;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6 ;
	margin-top: 40px;
	margin-bottom: 20px;
}

.icone-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 68px ;
	width: 420px;
	height: 80px;
	color: #B9C5CC;
}

.input-add-picture {
	justify-content: center;
	width: 173px !important;
	background-color: #CBD6DC !important;
	margin: 0 !important;
	padding: 10px;
	color: #306685 !important;
	padding-bottom: 10px !important;
}

.p-picture {
	font-size:10px ;
	padding-top: 10px;
}

.input-img {
	margin-top: 10px;
	width: 420px;
}

.navigation {
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

.arrow {
	font-size: 21px;
}

.xmark {
	font-size: 21px;
}

/* .input-picture {
	
} */

.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.drop-area.active {
    border-color: #3498db;
    background-color: #f0f8ff;
}

.img-drop {
	max-width: 100%;
	max-height: 169px;
}

